.radio-group {
  &.block {
    display: flex;
    background-color: #f3f3f3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

    > label {
      flex: 1;
      text-align: center;
      color: #aba9a8;
      background-color: transparent !important; // TODO: Update the Ant Less Variables instead of this

      &.ant-radio-button-wrapper-checked {
        background-color: #e3ebf1 !important;
        border-color: #d5d4d4 !important;
        color: #575451 !important;
      }
    }
  }
  &.styled {
    color: #575451;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    .ant-radio-button-wrapper {
      &.ant-radio-button-wrapper-checked {
        background-color: #e3ebf1;
        border-color: inherit;
        color: #575451;
        box-shadow: none;
      }
      &:hover {
        color: #575451;
      }
    }
  }
}
