@import '../../styles/design/colors';

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

button {
  &.p44-btn {
    align-items: center;
    background-color: var(--primary-grey-05);
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    color: var(--primary-grey-80);
    display: flex;
    flex-direction: row;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: var(--primary-grey-20);
      color: var(--primary-grey-80);
    }

    i {
      font-size: 12px;

      &.left {
        margin-left: -4px;
        margin-right: 4px;
      }

      &.right {
        margin-right: -4px;
        margin-left: 4px;
      }

      &.flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';
      }
    }

    &--primary {
      @extend .p44-btn;
      background-color: var(--primary-blue);
      color: var(--white);
      font-size: 14px;
      height: 48px;

      i {
        font-size: 18px;
      }

      &:hover,
      &:focus {
        background-color: var(--chathams-blue);
        color: var(--white);
      }
    }

    &--ink {
      @extend .p44-btn;
      background-color: var(--primary-grey-05);
      color: var(--primary-grey-80);

      i {
        font-size: 14px;
      }

      &:hover,
      &:focus {
        background-color: var(--primary-grey-20);
        color: var(--primary-grey-80);
      }
    }

    &--destructive {
      @extend .p44-btn;
      background-color: transparent;
      border: solid 1px var(--new-fruit);
      box-shadow: none;
      color: var(--new-fruit);
      justify-content: center;
      width: 100%;

      &:hover,
      &:focus {
        background-color: tint($new-fruit, 80%);
        border: solid 1px var(--new-fruit);
        color: var(--new-fruit);
      }
    }
    &--primary-transparent {
      @extend .p44-btn;
      border: solid 1px $primary-blue-85;
      color: $primary-blue-85;
      box-shadow: none;
      justify-content: center;
      background-color: transparent;
      width: auto;
      &:hover,
      &:focus {
        color: $primary-blue-85;
        border: solid 1px $primary-blue-85;
        background-color: tint($primary-blue-85, 80%);
      }
    }
    &--secondary {
      // no border
      @extend .p44-btn;
      background-color: transparent;
      box-shadow: none;
      color: var(--primary-grey-40);

      &:hover,
      &:focus {
        background-color: var(--primary-grey-05);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        color: var(--primary-grey-80);
      }
    }

    &--destructive-text {
      // basically a link an optional icon
      @extend .p44-btn;
      background-color: transparent;
      box-shadow: none;
      color: var(--new-fruit);

      &:hover,
      &:focus {
        background-color: transparent;
        color: var(--new-fruit);
      }
    }
    &--primary-transparent-text {
      // basically a link an optional icon
      @extend .p44-btn;
      box-shadow: none;
      background-color: transparent;
      color: $primary-blue-85;

      &:hover,
      &:focus {
        color: $primary-blue-85;
        background-color: transparent;
      }
    }

    // NOTE: NOT CURRENTLY USED OPTIONS
    &--basic {
      // basically a link an optional icon
      @extend .p44-btn;
      background-color: transparent;
      box-shadow: none;
      @each $color in $colorsList {
        &.#{nth($color, 1)} {
          color: nth($color, 2);

          &:hover,
          &:focus {
            color: nth($color, 2);
            background-color: transparent;
          }
        }
      }
    }

    &--bordered {
      //has border
      @extend .p44-btn;
      border: solid 1px var(--primary-grey-80);
      box-shadow: none;
      color: var(--primary-grey-80);

      @each $color in $colorsList {
        &.#{nth($color, 1)} {
          border: solid 1px nth($color, 2);
          color: nth($color, 2);

          &:hover,
          &:focus {
            background-color: tint(nth($color, 2), 80%);
            color: nth($color, 2);
          }
        }
      }
    }

    &.lg {
      font-size: 14px;
      height: 48px;

      i {
        font-size: 18px;
      }
    }

    &.med {
      font-size: 12px;
      height: 40px;

      i {
        font-size: 16px;
      }
    }

    &.sm {
      font-size: 10px;
      height: 36px;

      i {
        font-size: 18px;
      }
    }

    &.xsm {
      font-size: 8px;
      height: 30px;
      min-height: 30px;

      i {
        font-size: 16px;
      }
    }

    &:hover {
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;

      span {
        text-decoration: none;
      }
    }

    &:disabled {
      background-color: transparent;
      box-shadow: none;
      color: #aba9a8;
    }

    &-full-width {
      width: 100%;
    }

    // Deprecated
    &.icon-button {
      color: var(--primary-grey-80);
      min-width: auto;
      padding: 8px;
      width: auto;

      i {
        font-size: 24px;
      }
    }

    &.icon-button-v2 {
      color: var(--primary-grey-80);
      min-width: auto;
      padding-left: 8px;
      padding-right: 8px;
      width: auto;

      i {
        font-size: 24px;
      }
    }
    &--primary-transparent {
      &[disabled]:hover,
      &[disabled]:focus,
      &:disabled {
        opacity: 0.5;
        border: solid 1px $primary-blue-85;
        color: $primary-blue-85;
      }
    }
  }
}

.p44-btn-link {
  &:hover {
    text-decoration: none;
  }
}
