.multi-select {
  position: relative;

  .select__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px; // NOTE: material-icon has a native width of 24px, so this is matching that
    z-index: 2;

    &.open {
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__input{
    min-width: 200px;
  }

  .ant-select-selection__choice {
    display: none;
  }

  .multi-select__input {
    &:not(.ant-select-focused) {
      .ant-select-selection__placeholder {
        display: block !important;
      }
    }
  }

  .ant-select-selection {
    &--multiple {
      border: none;
      box-shadow: none;
    }

    &__rendered {
      display: flex;
      line-height: 36px;
      margin: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &__placeholder {
      color: #aba9a8;
      font-size: 12px;
      margin-left: 11px;
      margin-right: 11px;
    }

    &-selected-value {
      margin-left: 11px;
    }
  }
  .ant-select-search {
    &__field__wrap {
      margin-left: 11px;
    }
  }

  &__dropdown {
    background: #fff;
    cursor: pointer;
    display: flex;
    position: relative;

    &.no-search {
      .ant-select-selection__rendered {
        cursor: pointer;
      }
      .ant-select-search {
        opacity: 0;
      }
      .multi-select__input {
          .ant-select-selection__placeholder {
            display: block !important;
          }
      }
    }
  }

  &__input{
    border: 1px solid #d9d9d9;
    min-width: 200px;
  }

  &__icon {
    align-items: center;
    display: flex;
    height: 36px;
    transform: translate(-30px);
    width: 0px;

    .material-icons {
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;

      &.open {
        transform: rotate(-180deg);
      }
    }
  }
}
