/* color palette */
$primary-grey: #2d2926;
$primary-grey-80: #575451;
$primary-grey-40: #aba9a8;
$primary-grey-20: #d5d4d4;
$primary-grey-05: #f3f3f3;
$mysterious-grey: #aba9a8;
$white: #ffffff;
$white-two: #d5d4d4;
$green: #1e9f5b;
$teal: #2091a9;
$bluish: #2091a9;
$chathams-blue: #11426a;
$p44-blue: #236192;
$off-blue: #5888b0;
$primary-blue: #236192;
$primary-blue-95: #2e6998;
$primary-blue-75: #5a89ae;
$primary-blue-45: #9cb8ce;
$primary-blue-30: #bdd0df;
$primary-blue-13: #e3ebf1;
$new-lemon: #f0c825;
$yellow: #f6c472;
$orange: #ea8616;
$michelangelo-orange: #ffab36;
$new-fruit: #f55449;

$colorsList:
  'primary-grey' #2d2926,
  'primary-grey-80' #575451,
  'primary-grey-40' #aba9a8,
  'primary-grey-20' #d5d4d4,
  'primary-grey-05' #f3f3f3,
  'mysterious-grey' #aba9a8,
  'white' #ffffff,
  'white-two' #d5d4d4,
  'green' #1e9f5b,
  'teal' #2091a9,
  'bluish' #2091a9,
  'chathams-blue' #11426a,
  'p44-blue' #236192,
  'off-blue' #5888b0,
  'primary-blue' #236192,
  'primary-blue-95' #2e6998,
  'primary-blue-75' #5a89ae,
  'primary-blue-45' #9cb8ce,
  'primary-blue-30' #bdd0df,
  'primary-blue-13' #e3ebf1,
  'new-lemon' #f0c825,
  'yellow' #f6c472,
  'orange' #ea8616,
  'michelangelo-orange' #ffab36,
  'new-fruit' #f55449,
;

:root {
  --primary-grey: #2d2926;
  --primary-grey-80: #575451;
  --primary-grey-40: #aba9a8;
  --primary-grey-20: #d5d4d4;
  --primary-grey-05: #f3f3f3;
  --mysterious-grey: #aba9a8;
  --white: #ffffff;
  --white-two: #d5d4d4;
  --green: #1e9f5b;
  --teal: #2091a9;
  --bluish: #2091a9;
  --chathams-blue: #11426a;
  --p44-blue: #236192;
  --off-blue: #5888b0;
  --primary-blue: #236192;
  --primary-blue-95: #2e6998;
  --primary-blue-75: #5a89ae;
  --primary-blue-45: #9cb8ce;
  --primary-blue-30: #bdd0df;
  --primary-blue-13: #e3ebf1;
  --new-lemon: #f0c825;
  --yellow: #f6c472;
  --orange: #ea8616;
  --michelangelo-orange: #ffab36;
  --new-fruit: #f55449;
}
