/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

.font-example {
  font-size: 24px;
  margin-bottom: 20px;

  &.roboto {
    font-family: 'Roboto', sans-serif;
  }

  &.roboto-mono {
    font-family: 'Roboto Mono', monospace;
  }

  span {
    display: block;
  }
}

.font-weights {
  display: flex;
  flex-direction: row;

  &.roboto .font-weights__example .example {
    font-family: 'Roboto', sans-serif;
  }

  &.roboto-mono .font-weights__example .example {
    font-family: 'Roboto Mono', monospace;
  }

  .font-weights__example {
    border: 1px solid #d5d4d4;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 24px;
    }

    .example {
      border-bottom: 1px solid #d5d4d4;
      color: #2d2926;
      font-size: 48px;
      margin: 10px 10px 0;

      &.light {
        font-weight: 300;
      }

      &.regular {
        font-weight: normal;
      }

      &.medium {
        font-weight: 500;
      }

      &.bold {
        font-weight: bold;
      }
    }

    .title {
      font-size: 10px;
      font-weight: 300;
      padding: 12px;
      text-transform: uppercase;
    }
  }
}

.body-fonts {
  display: flex;
  flex-direction: row;

  .body-fonts__example {
    font-family: 'Roboto', sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    padding: 8px 16px 8px 0;
    width: 50%;

    &--12 {
      @extend .body-fonts__example;
      font-size: 12px;
      line-height: 1.67;
    }

    &--16 {
      @extend .body-fonts__example;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.headings {
  display: flex;
  flex-direction: column;

  .headings__example {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;

    .example {
      min-width: 80%;
      > * {
        margin: 0;
      }

      .hero {
        background-color: #000;
        border: solid 1px #979797;
        color: #fff;
        font-size: 48px;
      }

      .page-title {
        font-size: 28px;

        &--light {
          @extend .page-title;
          font-weight: 300;
        }
      }

      .section-title {
        font-size: 21px;

        &--light {
          @extend .section-title;
          font-weight: normal;
        }
      }

      h3 {
        font-weight: 16px;

        &.card-title,
        &.uppercase {
          font-size: 16px;
          text-transform: uppercase;
        }
      }

      .carrier-name {
        font-size: 14px;
        color: var(--primary-grey-40);
      }

      h6 {
        border-bottom: none;
        font-size: 12px;
        text-transform: uppercase;

        .section-label {
          font-weight: normal;
        }
      }
    }

    .description {
      flex: 1;
    }
  }
}

.link {
  color: var(--teal);

  &.uppercase {
    font-weight: bold;
    text-transform: uppercase;
  }

  label {
    font-weight: 300;
  }
}
