@import '../../styles/design/colors';

$card-x-margin: 1.5rem;
$card-y-margin: 1.5rem;

$card-x-padding: 1.5rem;
$card-y-padding: 1.5rem;
$boxShadow: 0 1px 2px 0 rgba($black, 0.5);
$card-border-color: $primary-grey-20;

.card {
  background: $white;
  box-shadow: $boxShadow;
  margin-bottom: 1rem;

  header {
    border-bottom: 1px solid $card-border-color;
  }

  header,
  main,
  footer {
    padding: $card-x-padding $card-y-padding;

    .row {
      margin-left: -$card-x-padding;
      margin-right: -$card-x-padding;
    }
  }

  footer {
    border-top: 1px solid $card-border-color;

    &.footerBg {
      background-color: $primary-grey-05;
      border: none;
    }
  }
}
