// THIS FILE SHOULD ONLY CONTAIN VARIABLE DEFINITIONS

// Ant Colors & Styles can be overwritten here. Just use the variable names from
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// Be sure to use $xyz, not @xyz!
$primary-color: crimson;