// THIS FILE SHOULD ONLY CONTAIN VARIABLE DEFINITIONS

// Ant Colors & Styles can be overwritten here. Just use the variable names from
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #1da57a;

@font-size-base: 14px;

@font-family : "Roboto", sans-serif, "Open Sans", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@text-color: #575451;

@btn-border-radius-base: 0px;

@border-radius-base: 0px;

@border-radius-sm: 0px;

@input-height-base: 36px;

// Needs to match @input-height-base, otherwise input-groups with buttons are misaligned.
// for example <Input.Search /> will break if these values don't match.
@btn-height-base: 36px; // Defaults to 32px.

@input-height-lg: 48px;

@input-placeholder-color: #aba9a8;

@label-color: #575451;

@form-vertical-label-padding : 0 0 2px;

@primary-color: #00558b;

@border-color-base: #d5d4d4;
