.checkbox-group {
  &.styled {
    .ant-checkbox-group {
      border-right: none;
      border: solid 1px #d8d8d8;
      display: flex;
      flex-direction: row;
      text-align: center;

      .ant-checkbox-wrapper {
        align-items: center;
        border-right: solid 1px #d8d8d8;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin: 0;
        padding: 10px;
        position: relative;

        .ant-checkbox-inner {
          display: none;
        }

        .ant-checkbox-checked {
          background-color: #e3ebf1;
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;

          & + span {
            opacity: 1;
          }
        }

        .ant-checkbox + span {
          opacity: 0.25;
        }

        .item-icon {
          height: 15px;
          position: relative;
          z-index: 1;
        }

        .item-title {
          align-self: center;
          color: #575451;
          display: block;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.25;
          margin-top: 8px;
          position: relative;
          text-transform: uppercase;
          z-index: 1;
        }
      }
    }
  }
}
