body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: inline;
}

.p44-ui {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo {
  border-right: 1px solid #e8e8e8;
  padding: 18px 0;

  img {
    display: block;
    margin: 0 auto;
    width: 75px;
  }

  .sm {
    width: 25px;
  }
}

.p44-ui__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__trigger {
  margin-left: 18px;

  &:hover {
    cursor: pointer;
  }
}

.header__github {
  color: #333;
  font-size: 18px;
  margin-right: 18px;
}

.p44-ui__wrapper {
  background-color: #fff;
  border: 1px solid #cecece;
  height: auto;
  margin: 24px 16px;
  min-height: inherit !important;

  .page-header {
    background-color: #f3f3f3;
    padding: 16px;

    h1 {
      margin-bottom: 0;
    }
  }

  .page-content {
    padding: 20px;
  }

  .page-intro {
    color: var(--primary-grey);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 18px;
  }

  .page-section {
    margin-bottom: 32px;

    .section-title {
      color: var(--primary-grey);
      font-size: 16px;
      text-transform: none;

      .aside {
        float: right;
        font-size: 12px;
        font-weight: normal;
      }
    }

    .example-title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 7px;
    }

    > p {
      margin-bottom: 12px;
    }
  }
}

.p44-ui__component {
  width: 100%;
}

.vertical-spacing {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ANT OVERRIDES */
.SideNav {
  height: 100%;
  width: 256px;
}

.SideNav > .ant-menu {
  height: 100%;
}

/* PRISM OVERRIDES */
pre {
  border-radius: 0 !important;
  code,
  span {
    font-size: 12px !important;
  }
}
